parameters:
    level: 9
    paths:
        - ./src
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
		- '#Call to an undefined method [a-zA-Z0-9\\_]+::setServiceVersion\(\)#'