parameters:
    level: 9
    paths:
        - ./src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    treatPhpDocTypesAsCertain: false
    scanFiles:
        - ./stubs/shopware-core-stubs.php