{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_flashbags %}
    <div class="flashbags container">
        {% for message in messages %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type:  message['type'], content: message['text'] } %}
        {% endfor %}
    </div>
{% endblock %}

{% block base_content %}
    <main class="content-main">
        {% block not_found_error_content %}
            <div class="container mt-5">

                <h1 class="mt-5 text-center"></h1>
                <p class="text-center w-60-l"></p>

                {% block not_found_error_return %}
                     <div class="text-center">
                        <a href="{{ path('frontend.home.page') }}"
                           class="btn btn-primary justify-center">
                            {{ "checkout.finishButtonBackToShop"|trans|sw_sanitize }}
                        </a>
                    </div>
                {% endblock %}
        {% endblock %}
    </main>
{% endblock %}
