{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}


{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}
    {% if context.paymentMethod.formattedHandlerIdentifier == 'handler_buckaroo_applepaypaymenthandler' %}
        {% set applePayConfig = {
            page: "checkout",
            merchantId: page.extensions.buckaroo.applePayMerchantId,
            cultureCode: page.header.activeLanguage.translationCode.code,
             i18n: {
                cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
            }
        } %}

        <div data-bk-applepay data-buckaroo-apple-pay-plugin-options='{{ applePayConfig|json_encode }}'></div>
        <div class="bk-apple-pay-button" style="margin-top: 10px;">
    {% endif %}


    {% if page.extensions.buckaroo.showPaypalExpress %}
        {% set paypalExpressOptions = {
            page: "checkout",
            merchantId: page.extensions.buckaroo.paypalMerchantId,
            websiteKey: page.extensions.buckaroo.websiteKey,
            i18n: {
                cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
            }
        } %}

        <div style="margin-top:15px;" class="bk-paypal-express" data-paypal-express data-paypal-express-plugin-options='{{ paypalExpressOptions|json_encode }}'>
            <div class="buckaroo-paypal-express"></div>
        </div>

    {% endif %}

    {% if page.extensions.buckaroo.showIdealFastCheckout %}

        <div style="margin-top:15px;" class="bk-ideal-fast-checkout" data-bk-ideal-fast-checkout>
            <button class="buckaroo-ideal-fast-checkout" id="fast-checkout-ideal-btn" style="">
                <img
                        src="{{ asset("bundles/buckaroopayments/storefront/buckaroo/ideal-fast-checkout-rgb-dark.png")}}" alt="Ideal Snel bestellen"/>
            </button>
        </div>

    {% endif %}

{% endblock %}
