<div class="bk-in3-logos-wrap">
    <span class="sw-label__caption">{{$tc('buckaroo-payment.in3LogoLabel')}}</span>
    <div class="bk-in3-logos-wrap-inner">
        <div class="bk-in3-logo" v-for="logo in logos">
            <label :for="`bk-in3-logo-${logo.code}`">
                <input type="radio" :value="logo.code" :id="`bk-in3-logo-${logo.code}`" class="bk-in3-logo" v-model="selectedLogo">
                <img :src="logo.src" :alt="logo.name" />
            </label>
        </div>
    </div>
</div>