<div>
    <buckaroo-config-card
            :card="mainCard"
            :configSettings="configSettings"
            :methods="elementMethods"
            :isNotDefaultSalesChannel="isNotDefaultSalesChannel"
            :value="value"
            :currentSalesChannelId="currentSalesChannelId"
            @input="onInput"
            v-if="mainCard && value">
    </buckaroo-config-card>

    <buckaroo-payment-list
        v-if="selectedCard === 'general'"
        :configSettings="configSettings"
        :currentSalesChannelId="currentSalesChannelId"
        :value="value"
        @input="onInput">
    </buckaroo-payment-list>
</div>