<div>
<buckaroo-config-card
    :card="mainCard"
    :methods="elementMethods"
    :isNotDefaultSalesChannel="isNotDefaultSalesChannel"
    :currentSalesChannelId="currentSalesChannelId"
    v-model="value"
></buckaroo-config-card>
<buckaroo-payment-list
    v-if="selectedCard === 'general'"
    :configSettings="configSettings"
    :currentSalesChannelId="currentSalesChannelId"
    v-model="value">
</buckaroo-payment-list>
</div>