<div class="bk-toogle-wrap">
    <button type="button" :disabled="isLoading" :class="`live ${getClass('live')}`" @click="setStatus('live')">Live</button>
    <button type="button" :disabled="isLoading" :class="`test ${getClass('test')}`" @click="setStatus('test')">Test</button>
    <button type="button" :disabled="isLoading" :class="`disabled ${getClass('disabled')}`" @click="setStatus('disabled')">Off</button>
</div>