<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="nl-NL">Configuratie</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field >
            <name>websiteKey</name>
            <label>(Merchant) key</label>
            <label lang="nl-NL">Website sleutel</label>
            <label lang="de-DE">Website key</label>
            <description>Enter your Buckaroo merchant/website key.</description>
            <helpText>The (Merchant) Key can be retrieved in Payment Plaza under My Buckaroo > Websites. For support contact Buckaroo.</helpText>
        </input-field>

        <input-field >
            <name>secretKey</name>
            <label>Secret key</label>
            <label lang="nl-NL">Geheime sleutel</label>
            <label lang="de-DE">Secret key</label>
            <description>Enter your Buckaroo merchant/website key.</description>
            <helpText>The Secret Key can be retrieved in Payment Plaza under Configuration > Security > Secret Key. For support contact Buckaroo.</helpText>
        </input-field>

        <input-field >
            <name>guid</name>
            <label>Guid</label>
            <label lang="nl-NL">Guid</label>
            <label lang="de-DE">Guid</label>
            <description>Enter your Buckaroo guid key.</description>
            <helpText>The guid key can be retrieved in Payment Plaza under the profile tab. For support contact Buckaroo.</helpText>
        </input-field>
    </card>
    
    <card>
        <title>Credit cards</title>
        <input-field type="single-select">
            <name>creditcardsEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>creditcardsLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Buckaroo Creditcards</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>allowedcreditcards</name>
            <label>Allowed Creditcards:</label>
            <label lang="de-DE">Allowed Creditcards</label>
            <options>
                <option>
                    <id>mastercard</id>
                    <name>MasterCard</name>
                </option>
                <option>
                    <id>visa</id>
                    <name>Visa</name>
                </option>
                <option>
                    <id>amex</id>
                    <name>American Express</name>
                </option>
                <option>
                    <id>vpay</id>
                    <name>VPay</name>
                </option>
                <option>
                    <id>maestro</id>
                    <name>Maestro</name>
                </option>
                <option>
                    <id>visaelectron</id>
                    <name>Visa Electron</name>
                </option>
                <option>
                    <id>cartebleuevisa</id>
                    <name>Carte Bleue</name>
                </option>
                <option>
                    <id>cartebancaire</id>
                    <name>Carte Bancaire</name>
                </option>
                <option>
                    <id>dankort</id>
                    <name>Dankort</name>
                </option>
                <option>
                    <id>nexi</id>
                    <name>Nexi</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>iDEAL</title>
        <input-field type="single-select">
            <name>idealEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>idealLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>iDEAL</defaultValue>
        </input-field>
    </card>

    <card>
        <title>iDEAL Processing</title>
        <input-field type="single-select">
            <name>idealprocessingEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>idealprocessingLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>iDEAL Processing</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Bancontact</title>
        <input-field type="single-select">
            <name>bancontactmrcashEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>bancontactmrcashLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Bancontact</defaultValue>
        </input-field>
    </card>

    <card>
        <title>AfterPay</title>
        <input-field type="single-select">
            <name>afterpayEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>afterpayLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>AfterPay</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Sofort</title>
        <input-field type="single-select">
            <name>sofortueberweisungEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>sofortueberweisungLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Sofort</defaultValue>
        </input-field>
    </card>

    <card>
    <title>PayPal</title>
        <input-field type="single-select">
            <name>paypalEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>paypalLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>PayPal</defaultValue>
        </input-field>
    </card>

    <card>
    <title>Bank Transfer</title>
        <input-field type="single-select">
            <name>transferEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>transferLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Bank Transfer</defaultValue>
        </input-field>

        <input-field>
            <name>transferDueDate</name>
            <label>Due date (in days)</label>
            <helpText>The amount of days after the order date in which the customer has to complete the payment. This is only for display purposes; you can add this due date in the template of the Transfer email.</helpText>
            <defaultValue>7</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>transferSendEmail</name>
            <label>Send order confirmation email</label>
            <helpText>Enable to send an order confirmation email to the customer when the creating of the order is successful. Specific for this payment method.</helpText>
        </input-field>
    </card>

    <card>
    <title>Giropay</title>
        <input-field type="single-select">
            <name>giropayEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>giropayLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Giropay</defaultValue>
        </input-field>

    </card>

    <card>
        <title>Apple Pay</title>
        <input-field type="single-select">
            <name>applepayEnvironment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>applepayLabel</name>
            <label>Frontend label</label>
            <helpText>Determines the frontend label shown.</helpText>
            <defaultValue>Apple Pay</defaultValue>
        </input-field>

        <input-field type="multi-select">
            <name>applepayavailablebuttons</name>
            <label>Enable or disable Apple Pay buttons:</label>
            <label lang="de-DE">Aktivieren oder deaktivieren sie die Apple Pay schaltflächen</label>
            <options>
                <option>
                    <id>Product</id>
                    <name>Product Page</name>
                </option>
                <option>
                    <id>Cart</id>
                    <name>Cart</name>
                </option>
            </options>
        </input-field>
    </card>

</config>
