{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_action_proceed %}
    {{ parent() }}
   
    {% if page.extensions.buckaroo.showPaypalExpress %}
        <div class="col-12 p-0">
            {% set paypalExpressOptions = {
                page: "cart",
                merchantId: page.extensions.buckaroo.paypalMerchantId,
                websiteKey: page.extensions.buckaroo.websiteKey,
                i18n: {
                    cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                    cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
                }
            } %}

            <div style="margin-top:15px;" class="bk-paypal-express" data-paypal-express data-paypal-express-plugin-options='{{ paypalExpressOptions|json_encode }}'>
                <div class="buckaroo-paypal-express"></div>
            </div>
        </div>
    {% endif %}

     {% if page.extensions.buckaroo.showApplePay %}
        <div class="col-12 p-0">
            {% set applePayConfig = {
                page: "cart",
                merchantId: page.extensions.buckaroo.applePayMerchantId,
                cultureCode: page.header.activeLanguage.translationCode.code,
                i18n: {
                    cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                    cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
                }
            } %}
            <div data-bk-applepay data-buckaroo-apple-pay-plugin-options='{{ applePayConfig|json_encode }}'></div>
            <div class="bk-apple-pay-button" style="margin-top: 10px;"></div>
        </div>
    {% endif %}

{% endblock %}
