{% block buckaroo_payment_methods %}
    {% set buckarooKey = payment.translated.customFields.buckaroo_key %}
    {% set methodsWithFinancialWarning =  page.extensions.buckaroo.methodsWithFinancialWarning %}
    {% set paymentMethodName = page.extensions.buckaroo.payment_labels[payment.translated.customFields.buckaroo_key]?:payment.translated.name %}
    {% set countryBillingIso = context.customer.activeBillingAddress.country.iso %}

    {% if buckarooKey == 'paybybank' and page.extensions.buckaroo.payByBankLogos %}
        {% set payByBankConfig = {
            issuerSelected: page.extensions.buckaroo.payByBankActiveIssuer,
            issuerLogos: page.extensions.buckaroo.payByBankLogos
        } %}
        <div data-bk-paybybank-logo data-buckaroo-pay-by-bank-logo-options='{{ payByBankConfig|json_encode }}'></div>
    {% endif %}

    <div class="buckaroo-payment-body mb-2 ml-4">
    {# Fix for Shopware 6.7: Always show payment inputs for Buckaroo methods #}
    {% if payment.translated.customFields.is_buckaroo and buckarooKey %}
        
        {% if page.extensions.buckaroo.backLink %}
            <script>
                window.buckaroo_back_link = '{{ page.extensions.buckaroo.backLink|raw }}';
                var buckaroo_required_message =' {{ "buckaroo.checkout.buckarooError"|trans|sw_sanitize }}';
            </script>
        {% endif %}
        {% block buckaroo_payment_method %}
            {% block buckaroo_payment_method_additional %}
                {% if buckarooKey == 'ideal' or buckarooKey == 'idealprocessing' %}
                    {% block buckaroo_payment_method_ideal %}{% endblock %}
                {% elseif buckarooKey == 'paybybank' %}
                    {% block buckaroo_payment_method_paybybank %}{% endblock %}
                {% elseif buckarooKey == 'creditcard' %}
                    {% block buckaroo_payment_method_creditcard %}{% endblock %}
                {% elseif buckarooKey == 'bancontactmrcash' %}
                    {% block buckaroo_payment_method_bancontactmrcash %}{% endblock %}
                {% elseif buckarooKey == 'creditcards' %}
                    {% block buckaroo_payment_method_creditcards %}{% endblock %}
                {% elseif buckarooKey == 'afterpay' %}
                    {% block buckaroo_payment_method_afterpay %}{% endblock %}
                {% elseif buckarooKey == 'Billink' %}
                    {% block buckaroo_payment_method_billink %}{% endblock %}
                {% elseif buckarooKey == 'capayable' %}
                    {% block buckaroo_payment_method_capayable %}{% endblock %}
                {% elseif buckarooKey == 'sepadirectdebit' %}
                    {% block buckaroo_payment_method_sepadirectdebit %}{% endblock %}
                {% elseif buckarooKey == 'klarna' or buckarooKey == 'klarnain' %}
                    {% block buckaroo_payment_method_klarna %}{% endblock %}
                {% elseif buckarooKey == 'klarnakp' %}
                    {% block buckaroo_payment_method_klarnakp %}{% endblock %}
                {% elseif buckarooKey == 'payperemail' %}
                    {% block buckaroo_payment_method_payperemail %}{% endblock %}
                {% elseif buckarooKey == 'blik' %}
                    {% block buckaroo_payment_method_blik %}{% endblock %}
                {% elseif buckarooKey == 'eps' %}
                    {% block buckaroo_payment_method_eps %}{% endblock %}
                {% elseif buckarooKey == 'kbc' %}
                    {% block buckaroo_payment_method_kbc %}{% endblock %}
                {% elseif buckarooKey == 'p24' %}
                    {% block buckaroo_payment_method_p24 %}{% endblock %}
                {% elseif buckarooKey == 'mbway' %}
                    {% block buckaroo_payment_method_mbway %}{% endblock %}
                {% elseif buckarooKey == 'alipay' %}
                    {% block buckaroo_payment_method_alipay %}{% endblock %}
                {% elseif buckarooKey == 'paypal' %}
                    {% block buckaroo_payment_method_paypal %}{% endblock %}
                {% elseif buckarooKey == 'belfius' %}
                    {% block buckaroo_payment_method_belfius %}{% endblock %}
                {% elseif buckarooKey == 'idealqr' %}
                    {% block buckaroo_payment_method_idealqr %}{% endblock %}
                {% elseif buckarooKey == 'trustly' %}
                    {% block buckaroo_payment_method_trustly %}{% endblock %}
                {% elseif buckarooKey == 'applepay' %}
                    {% block buckaroo_payment_method_applepay %}{% endblock %}
                {% elseif buckarooKey == 'klarnain' %}
                    {% block buckaroo_payment_method_klarnain %}{% endblock %}
                {% elseif buckarooKey == 'payconiq' %}
                    {% block buckaroo_payment_method_payconiq %}{% endblock %}
                {% elseif buckarooKey == 'transfer' %}
                    {% block buckaroo_payment_method_transfer %}{% endblock %}
                {% elseif buckarooKey == 'giftcards' %}
                    {% block buckaroo_payment_method_giftcards %}{% endblock %}
                {% elseif buckarooKey == 'wechatpay' %}
                    {% block buckaroo_payment_method_wechatpay %}{% endblock %}
                {% elseif buckarooKey == 'multibanco' %}
                    {% block buckaroo_payment_method_multibanco %}{% endblock %}
                {% elseif buckarooKey == 'knaken' %}
                    {% block buckaroo_payment_method_knaken %}{% endblock %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endif %}
    </div>
{% endblock %}