{% block buckaroo_payment_methods %}
    {% set buckarooKey = page.extensions.buckaroo.buckarooKey %}
    {% set buckarooMode = page.extensions.buckaroo.buckarooMode %}
    {% set buckarooBackLink = page.extensions.buckaroo.buckarooBackLink %}

    {% if buckarooKey == 'ideal' or buckarooKey == 'idealprocessing' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/ideal.html.twig' %}
    {% elseif buckarooKey == 'paybybank' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/paybybank.html.twig' %}
    {% elseif buckarooKey == 'creditcard' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcard.html.twig' %}
    {% elseif buckarooKey == 'bancontactmrcash' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/bancontactmrcash.html.twig' %}
    {% elseif buckarooKey == 'creditcards' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcards.html.twig' %}
    {% elseif buckarooKey == 'afterpay' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/afterpay.html.twig' %}
    {% elseif buckarooKey == 'applepay' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/applepay.html.twig' %}
    {% elseif buckarooKey == 'googlepay' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/googlepay.html.twig' %}
    {% elseif buckarooKey == 'paypal' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/paypal.html.twig' %}
    {% elseif buckarooKey == 'klarna' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarna.html.twig' %}
    {% elseif buckarooKey == 'belfius' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/belfius.html.twig' %}
    {% elseif buckarooKey == 'kbc' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/kbc.html.twig' %}
    {% elseif buckarooKey == 'in3' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/in3.html.twig' %}
    {% elseif buckarooKey == 'mbway' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/mbway.html.twig' %}
    {% elseif buckarooKey == 'p24' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/p24.html.twig' %}
    {% elseif buckarooKey == 'multibanco' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/multibanco.html.twig' %}
    {% elseif buckarooKey == 'payperemail' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/payperemail.html.twig' %}
    {% elseif buckarooKey == 'sepadd' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/sepadd.html.twig' %}
    {% elseif buckarooKey == 'payconiq' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/payconiq.html.twig' %}
    {% elseif buckarooKey == 'trustly' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/trustly.html.twig' %}
    {% elseif buckarooKey == 'giftcards' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/giftcards.html.twig' %}
    {% elseif buckarooKey == 'transfer' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/transfer.html.twig' %}
    {% elseif buckarooKey == 'wechatpay' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/wechatpay.html.twig' %}
    {% elseif buckarooKey == 'blik' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/blik.html.twig' %}
    {% elseif buckarooKey == 'billink' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/billink.html.twig' %}
    {% elseif buckarooKey == 'eps' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/eps.html.twig' %}
    {% elseif buckarooKey == 'alipay' %}
        {% include '@BuckarooPayments/storefront/buckaroo/payment-methods/alipay.html.twig' %}
    {% endif %}

    {% if buckarooKey == 'paybybank' %}
        <div class="buckaroo-paybybank-logo">
            <img src="{{ asset('bundles/buckaroopayments/storefront/buckaroo/paybybank-logo.svg') }}" alt="PayByBank">
        </div>
    {% endif %}

    {% if buckarooBackLink is defined and buckarooBackLink %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var backLink = document.createElement('a');
                backLink.href = '{{ buckarooBackLink }}';
                backLink.className = 'buckaroo-back-link';
                backLink.innerHTML = '{{ "buckaroo.payment.back"|trans|sw_sanitize }}';
                document.querySelector('.buckaroo-payment-methods').appendChild(backLink);
            });
        </script>
    {% endif %}
{% endblock %}
