{% block buckaroo_payment_methods %}
    {% set buckarooKey = payment.translated.customFields.buckaroo_key %}
    {% set methodsWithFinancialWarning =  page.extensions.buckaroo.methodsWithFinancialWarning %}
    {% set paymentMethodName = page.extensions.buckaroo.payment_labels[payment.translated.customFields.buckaroo_key]?:payment.translated.name %}
    {% set countryBillingIso = context.customer.activeBillingAddress.country.iso %}

    {% if buckarooKey == 'paybybank' and page.extensions.buckaroo.payByBankLogos %}
        {% set payByBankConfig = {
            issuerSelected: page.extensions.buckaroo.payByBankActiveIssuer,
            issuerLogos: page.extensions.buckaroo.payByBankLogos
        } %}
        <div data-bk-paybybank-logo data-buckaroo-pay-by-bank-logo-options='{{ payByBankConfig|json_encode }}'></div>
    {% endif %}

    <div class="buckaroo-payment-body mb-2 ml-4">
    {% if context.paymentMethod.translated.customFields.buckaroo_key == buckarooKey %}
        {% if page.extensions.buckaroo.backLink %}
            <script>
                window.buckaroo_back_link = '{{ page.extensions.buckaroo.backLink|raw }}';
                var buckaroo_required_message =' {{ "buckaroo.checkout.buckarooError"|trans|sw_sanitize }}';
            </script>
        {% endif %}
        {% block buckaroo_payment_method %}
            {% block buckaroo_payment_method_additional %}
                {% if buckarooKey == 'ideal' or buckarooKey == 'idealprocessing' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/ideal.html.twig' %}
                {% elseif buckarooKey == 'paybybank' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/paybybank.html.twig' %}
                {% elseif buckarooKey == 'creditcard' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcard.html.twig' %}
                {% elseif buckarooKey == 'bancontactmrcash' and page.extensions.buckaroo.redirectBancontact %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/bancontactmrcash.html.twig' %}
                {% elseif buckarooKey == 'creditcards' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcards.html.twig' %}
                {% elseif buckarooKey == 'afterpay' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/afterpay.html.twig' %}
                {% elseif buckarooKey == 'Billink' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/billink.html.twig' %}
                {% elseif buckarooKey == 'capayable' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/capayable.html.twig' %}
                {% elseif buckarooKey == 'sepadirectdebit' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/sepadirectdebit.html.twig' %}
                {% elseif buckarooKey == 'klarna' or buckarooKey == 'klarnain' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarna.html.twig' %}
                {% elseif buckarooKey == 'klarnakp' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarnakp.html.twig' %}
                {% elseif buckarooKey == 'payperemail' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/payperemail.html.twig' %}
                {% elseif buckarooKey == 'blik' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/blik.html.twig' %}
                {% elseif buckarooKey == 'eps' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/eps.html.twig' %}
                {% elseif buckarooKey == 'kbc' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/kbc.html.twig' %}
                {% elseif buckarooKey == 'p24' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/p24.html.twig' %}
                {% elseif buckarooKey == 'mbway' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/mbway.html.twig' %}
                {% elseif buckarooKey == 'alipay' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/alipay.html.twig' %}
                {% elseif buckarooKey == 'paypal' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/paypal.html.twig' %}
                {% elseif buckarooKey == 'belfius' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/belfius.html.twig' %}
                {% elseif buckarooKey == 'idealqr' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/idealqr.html.twig' %}
                {% elseif buckarooKey == 'trustly' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/trustly.html.twig' %}
                {% elseif buckarooKey == 'applepay' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/applepay.html.twig' %}
                {% elseif buckarooKey == 'klarnain' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarnain.html.twig' %}
                {% elseif buckarooKey == 'klarnakp' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarnakp.html.twig' %}
                {% elseif buckarooKey == 'payconiq' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/payconiq.html.twig' %}
                {% elseif buckarooKey == 'transfer' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/transfer.html.twig' %}
                {% elseif buckarooKey == 'giftcards' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/giftcards.html.twig' %}
                {% elseif buckarooKey == 'wechatpay' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/wechatpay.html.twig' %}
                {% elseif buckarooKey == 'multibanco' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/multibanco.html.twig' %}
                {% elseif buckarooKey == 'knaken' %}
                    {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/knaken.html.twig' %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endif %}
    </div>
{% endblock %}