{% sw_extends '@Framework/documents/invoice.html.twig' %}

{% block document_sum_table_inner %}
    {% if order.customFields.buckarooFee > 0 %}
        <tr>
            <td class="align-right">{{ 'buckaroo.fee'|trans() }}</td>
            <td class="align-right">
                {% if order.currency.isoCode == "PLN" %}
                    PLN
                {% else %}
                    {{ order.currency.symbol }}
                {% endif %}{{ "%.2f"|format(order.customFields.buckarooFee) }}
                </td>
        </tr>
    {% endif %}

    {{ parent() }}

{% endblock %}