{% block buckaroo_payment %}
<sw-page class="buckaroo-payment">
    {% block buckaroo_payment_header %}
    <template #smart-bar-header>
        <h2>
            {{ $tc('sw-settings.index.title') }}
            <sw-icon name="small-arrow-medium-right" small></sw-icon>
            {{ $tc('buckaroo-payment.general.title') }}
        </h2>
    </template>
    {% endblock %}

    {% block buckaroo_payment_actions %}
    <template #smart-bar-actions>
        {% block buckaroo_payment_settings_actions_feedback %}
        <sw-button
                @click="isSupportModalOpen = true"
                :disabled="false"
                variant="ghost"
                :square="false"
                :block="false"
                :isLoading="false">
            {{ $tc('buckaroo-payment.supportModal.menuButton') }}
        </sw-button>
        {% endblock %}

        {% block buckaroo_payment_settings_actions_save %}
        <sw-button-process
                class="sw-settings-login-registration__save-action"
                :isLoading="isLoading"
                :processSuccess="isSaveSuccessful"
                :disabled="isLoading"
                variant="primary"
                @process-finish="saveFinish"
                @click="onSave">
            {{ $tc('buckaroo-payment.settingsForm.save') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block buckaroo_payment_settings_content %}
    <template #content>
        <sw-modal
                v-if="isSupportModalOpen"
                @modal-close="isSupportModalOpen = false"
                :title="$tc('buckaroo-payment.supportModal.title')"
                class="buckaroo-feedback sw-modal--large">
            <sw-container columns="1fr">
                <div class="buckaroo-feedback__col">
                    <p class="buckaroo-feedback__desc">
                        <a href="https://buckaroo.nl/" target="_blank" rel="noopener">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="180px" height="32px" viewBox="0 0 5560 1000" preserveAspectRatio="xMidYMid meet"> <g id="M845" fill="#181717" stroke="none"> <path d="M845 853 c-35 -7 -105 -46 -131 -72 -57 -57 -59 -65 -62 -343 l-3 -258 40 0 41 0 0 213 c0 116 5 232 11 257 19 82 88 130 189 130 106 0 183 -48 196 -124 11 -59 10 -53 12 -273 l2 -203 40 0 40 0 0 243 c0 232 -1 244 -24 292 -45 97 -135 146 -265 144 -36 -1 -75 -3 -86 -6z"/> <path d="M1608 850 c-81 -21 -172 -100 -214 -187 -80 -170 -4 -369 173 -454 57 -27 77 -31 152 -32 64 -1 103 5 156 22 39 13 74 27 78 31 5 4 7 26 5 49 -3 41 -3 41 -29 27 -95 -49 -237 -65 -310 -33 -50 21 -116 82 -142 131 -30 57 -30 174 1 231 55 101 130 145 252 145 66 0 171 -27 214 -55 20 -14 21 -13 18 35 l-4 49 -56 22 c-64 25 -228 35 -294 19z"/> <path d="M4175 851 c-87 -22 -176 -96 -223 -186 -23 -43 -26 -63 -26 -140 -1 -76 3 -99 26 -146 37 -80 89 -134 166 -170 58 -28 75 -32 156 -32 72 0 104 5 150 23 76 29 147 95 183 169 25 49 28 68 28 151 0 89 -2 99 -34 158 -46 85 -107 137 -189 162 -65 20 -177 25 -237 11z m232 -94 c41 -22 97 -78 120 -120 27 -50 25 -189 -4 -244 -52 -97 -180 -156 -291 -134 -103 21 -175 80 -207 170 -47 134 23 289 154 338 49 18 185 12 228 -10z"/> <path d="M5015 851 c-134 -38 -238 -164 -253 -307 -5 -51 21 -155 50 -203 96 -156 304 -213 475 -131 123 58 184 151 191 290 5 106 -18 176 -84 249 -68 76 -133 103 -252 107 -53 2 -110 -1 -127 -5z m225 -92 c96 -43 146 -121 149 -235 3 -91 -17 -142 -78 -195 -76 -67 -152 -89 -245 -69 -199 41 -280 281 -146 432 57 66 108 88 200 88 54 0 88 -6 120 -21z"/> <path d="M80 514 l0 -337 133 5 c110 4 139 8 172 26 82 44 109 130 70 224 -4 10 -22 27 -41 39 -19 11 -34 24 -34 28 0 4 17 13 38 19 118 36 154 189 64 275 -53 49 -86 57 -253 57 l-149 0 0 -336z m329 227 c26 -24 31 -37 31 -74 0 -86 -51 -117 -192 -117 l-78 0 0 110 0 110 104 0 c101 0 105 -1 135 -29z m-58 -299 c26 -23 31 -35 32 -74 0 -27 -6 -54 -14 -64 -23 -28 -74 -44 -139 -44 l-60 0 0 105 0 105 75 0 c68 0 78 -3 106 -28z"/> <path d="M2120 515 l0 -335 40 0 40 0 0 155 c0 85 3 155 8 155 7 0 129 -129 233 -247 53 -60 55 -61 108 -62 64 -1 71 -15 -84 154 -60 66 -119 131 -130 144 l-20 23 180 174 180 174 -60 0 -60 0 -170 -165 c-93 -90 -173 -164 -177 -165 -5 0 -8 74 -8 165 l0 165 -40 0 -40 0 0 -335z"/> <path d="M3400 515 l0 -335 88 0 c49 0 115 5 147 12 164 33 205 230 68 324 l-31 20 38 37 c35 33 100 120 100 134 0 3 20 34 45 70 25 35 45 66 45 68 0 3 -21 5 -48 5 l-47 0 -72 -108 c-94 -142 -138 -182 -198 -182 l-45 0 0 145 0 145 -45 0 -45 0 0 -335z m229 -46 c65 -23 84 -128 32 -180 -27 -27 -35 -29 -100 -29 l-71 0 0 110 0 110 54 0 c29 0 67 -5 85 -11z"/> </g> <g id="M2981" fill="#d3cf27" stroke="none"> <path d="M2981 814 c-12 -32 -60 -140 -106 -239 -8 -16 -29 -64 -46 -105 -17 -41 -44 -102 -59 -135 -16 -33 -37 -82 -49 -108 l-20 -48 45 3 45 3 42 95 43 95 150 3 151 3 42 -101 43 -100 44 0 43 0 -24 57 c-14 32 -78 182 -143 333 l-118 275 -35 3 c-32 3 -36 0 -48 -34z m107 -226 c28 -64 47 -119 44 -122 -6 -7 -212 -8 -212 -1 0 6 77 180 96 217 8 16 17 28 19 26 2 -2 26 -56 53 -120z"/> </g> </svg>
                        </a>
                    </p>
                </div>
            </sw-container>

            <sw-container columns="1fr 1fr">
                <div class="buckaroo-feedback__col">
                    <p class="buckaroo-feedback__desc">
                        <h3>{{ $tc('buckaroo-payment.supportModal.support.version') }}</h3>
                        
                        <div class="row">
                            <div class="column">{{ $tc('buckaroo-payment.supportModal.support.your_version') }}</div>
                            <div class="column">{{ phpversion }}
                                <sw-icon v-if="isPhpVersionSupport" name="default-basic-checkmark-line" color="#37d046"></sw-icon>
                                <sw-icon v-else name="default-basic-x-line" color="#de294c"></sw-icon>
                            </div>
                        </div>
                    </p>
                </div>

                <div class="buckaroo-feedback__col">
                    <p class="buckaroo-feedback__desc">
                        <h3>{{ $tc('buckaroo-payment.supportModal.support.information') }}</h3>
                        <p>{{ $tc('buckaroo-payment.supportModal.support.description') }} <br><br></p>
  
                        <div class="row">
                            <div class="column">{{ $tc('buckaroo-payment.supportModal.support.label1') }}</div>
                            <div class="column"><a target="_blank" href="https://plaza.buckaroo.nl/" rel="noopener">plaza.buckaroo.nl</a></div>
                        </div>

                        <div class="row">
                            <div class="column">{{ $tc('buckaroo-payment.supportModal.support.label2') }}</div>
                            <div class="column">+31(0)30-711 50 50</div>
                        </div>

                        <div class="row">
                            <div class="column">{{ $tc('buckaroo-payment.supportModal.support.label3') }}</div>
                            <div class="column"><a href="mailto:support@buckaroo.nl">support@buckaroo.nl</a></div>
                        </div>

                        <div class="row">
                            <div class="column">{{ $tc('buckaroo-payment.supportModal.support.label4') }}</div>
                            <div class="column"><a href="https://buckaroo.nl/" target="_blank" rel="noopener">buckaroo.nl</a></div>
                        </div>
                    </p>
                </div>
            </sw-container>
        </sw-modal>

        <sw-card-view>
            <sw-system-config
                    ref="systemConfig"
                    salesChannelSwitchable
                    inherit
                    @config-changed="onConfigChange"
                    domain="BuckarooPayments.config">
                <template #card-element="{ element, config }">
                    <div v-show="displayField(element, config)">
                    <sw-form-field-renderer
                            v-bind="getBind(element, config)"
                            v-model="config[element.name]"/>
                    </div>
                </template>
            </sw-system-config>
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
