.buckaroo-feedback {
    
    .row {
      display: flex;
    }

    .column {
      flex: 50%;
    }

    img{
        width: 180px;
    }

    &__col {
        padding: 0 10px;
        text-align: center;
        border-left: 1px solid #888;
    }

    & &__col:first-child {
        border-left: none;
    }

    & &__desc {
        font-size: 1.1em;
        letter-spacing: .75px;
        margin-bottom: 5px;
    }
}
