<label>Select a bank:</label>
{% if page.extensions.buckaroo.issuers|length > 0 %}
    <select form="confirmPaymentForm" name="redirectParameters[issuer2]" class="custom-select" style="max-width: 300px;margin-left: 0.5rem;margin-bottom: 0.5rem;">
        <option value="">{{ "bkr-ideal.selectBankIssuer"|trans }}</option>
        {% for issuer in page.extensions.buckaroo.issuers %}
            <option {% if page.extensions.buckaroo.last_used_issuer_processing == issuer.code %} selected="selected" {% endif %} value="{{ issuer.code }}">{{ issuer.name }}</option>
        {% endfor %}
    </select>
    <input type="hidden" form="confirmOrderForm" name="issuer2" value="{{ page.extensions.buckaroo.last_used_issuer_processing }}">
{% endif %}