.buckaroo-feedback {
    .buckaroo-feedback__col{
        h3{
            text-align: center;
        }
    }
}
.buckaroo-payment-detail {
    .sw-product-variant-info {
        white-space: normal;
        text-overflow: unset;
    }
    .bk-reund-qty {
        text-align: right;
    }
}