{% block buckaroo_payment_method_alipay %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.alipay.info"|trans|default('You will be redirected to complete your Alipay payment.') }}</p>
    </div>
{% endblock %} 