{% block buckaroo_payment_method_applepay %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.applepay.info"|trans|default('You will be redirected to complete your Apple Pay payment.') }}</p>
    </div>
{% endblock %} 