{% block buckaroo_payment_method_belfius %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.belfius.info"|trans|default('You will be redirected to complete your Belfius payment.') }}</p>
    </div>
{% endblock %} 