{% block buckaroo_payment_method_belfius %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-belfius-account">
            {{ "buckaroo.payment.belfius.account"|trans|sw_sanitize }}
        </label>
        <input type="text" class="form-control" id="buckaroo-belfius-account" name="buckaroo-belfius-account" required="required">
    </div>
{% endblock %} 