{% block buckaroo_payment_method_blik %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-blik-code">
            {{ "buckaroo.payment.blik.code"|trans|sw_sanitize }}
        </label>
        <input type="text" class="form-control" id="buckaroo-blik-code" name="buckaroo-blik-code" required="required" maxlength="6" pattern="[0-9]{6}">
    </div>
{% endblock %} 