{% block buckaroo_payment_method_blik %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.blik.info"|trans|default('You will be redirected to complete your Blik payment.') }}</p>
    </div>
{% endblock %} 