{% block buckaroo_payment_method_eps %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-eps-bank">
            {{ "buckaroo.payment.eps.bank"|trans|sw_sanitize }}
        </label>
        <select class="form-select" id="buckaroo-eps-bank" name="buckaroo-eps-bank" required="required">
            <option value="">{{ "buckaroo.payment.eps.select_bank"|trans|sw_sanitize }}</option>
            {% for bank in page.extensions.buckaroo.epsBanks %}
                <option value="{{ bank.id }}">{{ bank.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %} 