{% block buckaroo_payment_method_eps %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.eps.info"|trans|default('You will be redirected to complete your EPS payment.') }}</p>
    </div>
{% endblock %} 