{% block buckaroo_payment_method_giftcards %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.giftcards.info"|trans|default('You will be redirected to complete your Giftcards payment.') }}</p>
    </div>
{% endblock %} 