{% block buckaroo_payment_method_giftcards %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-giftcards-select">
            {{ "buckaroo.payment.giftcards.select"|trans|sw_sanitize }}
        </label>
        <select class="form-select" id="buckaroo-giftcards-select" name="buckaroo-giftcards-select" required="required">
            <option value="">{{ "buckaroo.payment.giftcards.select_placeholder"|trans|sw_sanitize }}</option>
            {% for giftcard in page.extensions.buckaroo.giftcards %}
                <option value="{{ giftcard.id }}">{{ giftcard.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %} 