{% block buckaroo_payment_method_idealqr %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.idealqr.info"|trans|default('You will be redirected to complete your iDEAL QR payment.') }}</p>
    </div>
{% endblock %} 