{% block buckaroo_payment_method_kbc %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.kbc.info"|trans|default('You will be redirected to complete your KBC payment.') }}</p>
    </div>
{% endblock %} 