{% block buckaroo_payment_method_kbc %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-kbc-account">
            {{ "buckaroo.payment.kbc.account"|trans|sw_sanitize }}
        </label>
        <input type="text" class="form-control" id="buckaroo-kbc-account" name="buckaroo-kbc-account" required="required">
    </div>
{% endblock %} 