{% block buckaroo_payment_method_klarnain %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.klarnain.info"|trans|default('You will be redirected to complete your Klarna Invoice payment.') }}</p>
    </div>
{% endblock %} 