{% block buckaroo_payment_method_knaken %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.knaken.info"|trans|default('You will be redirected to complete your Knaken payment.') }}</p>
    </div>
{% endblock %} 