{% block buckaroo_payment_method_mbway %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-mbway-phone">
            {{ "buckaroo.payment.mbway.phone"|trans|sw_sanitize }}
        </label>
        <input type="tel" class="form-control" id="buckaroo-mbway-phone" name="buckaroo-mbway-phone" required="required">
    </div>
{% endblock %} 