{% block buckaroo_payment_method_mbway %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.mbway.info"|trans|default('You will be redirected to complete your MBWay payment.') }}</p>
    </div>
{% endblock %} 