{% block buckaroo_payment_method_multibanco %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-multibanco-email">
            {{ "buckaroo.payment.multibanco.email"|trans|sw_sanitize }}
        </label>
        <input type="email" class="form-control" id="buckaroo-multibanco-email" name="buckaroo-multibanco-email" required="required">
    </div>
{% endblock %} 