{% block buckaroo_payment_method_multibanco %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.multibanco.info"|trans|default('You will be redirected to complete your Multibanco payment.') }}</p>
    </div>
{% endblock %} 