{% block buckaroo_payment_method_p24 %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.p24.info"|trans|default('You will be redirected to complete your Przelewy24 payment.') }}</p>
    </div>
{% endblock %} 