{% block buckaroo_payment_method_p24 %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-p24-email">
            {{ "buckaroo.payment.p24.email"|trans|sw_sanitize }}
        </label>
        <input type="email" class="form-control" id="buckaroo-p24-email" name="buckaroo-p24-email" required="required">
    </div>
{% endblock %} 