{% block buckaroo_payment_method_payconiq %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.payconiq.info"|trans|default('You will be redirected to complete your Payconiq payment.') }}</p>
    </div>
{% endblock %} 