{% block buckaroo_payment_method_payperemail %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-payperemail-email">
            {{ "buckaroo.payment.payperemail.email"|trans|sw_sanitize }}
        </label>
        <input type="email" class="form-control" id="buckaroo-payperemail-email" name="buckaroo-payperemail-email" required="required">
    </div>
{% endblock %} 