{% block buckaroo_payment_method_paypal %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.paypal.info"|trans|default('You will be redirected to complete your PayPal payment.') }}</p>
    </div>
{% endblock %} 