{% block buckaroo_payment_method_sepadd %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-sepadd-iban">
            {{ "buckaroo.payment.sepadd.iban"|trans|sw_sanitize }}
        </label>
        <input type="text" class="form-control" id="buckaroo-sepadd-iban" name="buckaroo-sepadd-iban" required="required">
    </div>

    <div class="form-group">
        <label class="form-label" for="buckaroo-sepadd-accountname">
            {{ "buckaroo.payment.sepadd.accountname"|trans|sw_sanitize }}
        </label>
        <input type="text" class="form-control" id="buckaroo-sepadd-accountname" name="buckaroo-sepadd-accountname" required="required">
    </div>
{% endblock %} 