{% block buckaroo_payment_method_transfer %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.transfer.info"|trans|default('You will be redirected to complete your Bank Transfer payment.') }}</p>
    </div>
{% endblock %} 