{% block buckaroo_payment_method_trustly %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.trustly.info"|trans|default('You will be redirected to complete your Trustly payment.') }}</p>
    </div>
{% endblock %} 