{% block buckaroo_payment_method_trustly %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-trustly-country">
            {{ "buckaroo.payment.trustly.country"|trans|sw_sanitize }}
        </label>
        <select class="form-select" id="buckaroo-trustly-country" name="buckaroo-trustly-country" required="required">
            <option value="">{{ "buckaroo.payment.trustly.select_country"|trans|sw_sanitize }}</option>
            {% for country in page.extensions.buckaroo.trustlyCountries %}
                <option value="{{ country.code }}">{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %} 