{% block buckaroo_payment_method_wechatpay %}
    <div class="buckaroo-generic-method">
        <p>{{ "buckaroo.checkout.wechatpay.info"|trans|default('You will be redirected to complete your WeChat Pay payment.') }}</p>
    </div>
{% endblock %} 