<div>
    <a style="margin-bottom:10px;" @click="showTaxes = !showTaxes">{{$tc('buckaroo-payment.afterpay.setup')}}</a>
    <div v-if="showTaxes" style="padding: 10px;background: rgb(246 246 246); margin-bottom:10px;">
        <div class="tax" v-for="tax in taxes">
            <sw-select-field
            :label="tax.name"
            label-property="name"
            value-property="id"
            :options="afterpayTaxes"
            @change="setTaxAssociation(tax.id, $event)"
            :value="getSelectValue(tax.id)"
            ></sw-select-field>
        </div>
    </div>
</div>