<sw-card
    position-identifier="bk-config-payment-list"
    :title="$t('Payment methods')"
>
<div class="bk-payment-wrap">
 <template
    v-for="payment in payments" >
    <router-link class="bk-payment" :to="{name: 'buckaroo.payment.config', params: {namespace: 'BuckarooPayments', paymentCode: payment.code } }">
        <div class="bk-payment-img">
            <img :src="`buckaroopayments/administration/static/${payment.logo}` | asset">
        </div>
        <div class="bk-payment-name">
            {{getPaymentTitle(payment.code)}}
        </div>
    </router-link>
 </template>
 </div>
</sw-card>