<label>Select a creditcard:</label>
{% if page.extensions.buckaroo.creditcards|length > 0 %}
    <select form="confirmPaymentForm" name="redirectParameters[creditcard]" class="custom-select" style="max-width: 300px;margin-left: 0.5rem;margin-bottom: 0.5rem;">
        <option value="">{{ "bkr-creditcards.selectCreditCard"|trans }}</option>
        {% for creditcard in page.extensions.buckaroo.creditcards %}
            <option {% if page.extensions.buckaroo.last_used_creditcard == creditcard.code %} selected="selected" {% endif %} value="{{ creditcard.code }}">{{ creditcard.name }}</option>
        {% endfor %}
    </select>
    <input type="hidden" form="confirmOrderForm" name="creditcard" value="{{ page.extensions.buckaroo.last_used_creditcard }}">
{% endif %}